@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "crimsontext";
  src: url("../fonts/crimsontext/CrimsonText-Regular.ttf");
}

body {
  -webkit-print-color-adjust: exact;
  font-size: 12px;
}

.container {
  color: #333;
  font-family: "crimsontext";
  width: 600px;
  margin: 0 auto;
}

.intro-icon {
  position: relative;
  top: 3px;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: solid 1px lightgray;
  padding-bottom: 10px;
}

h1, h2, h3 {
  font-family: "montserrat";
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding-left: 16px;
}

a {
  color: inherit;
}

li:before {
  background-image: url('../svg/chevron-right.svg');
  background-position: 5px 7px;
  background-repeat: no-repeat;
  content: " ";
  display: inline-block;
  margin-left: -16px;
  width: 20px;
  height: 20px;
}
